body{
    margin: 0;
}
#creative{
    background-color: cadetblue;
    display: inline-block;
    width: 14%;
    height: 500px;
    vertical-align: top;
}

#feed-posts 
{

    display: inline-block;
    width: 70%;
    vertical-align: top;
}

#friends{
    background-color:cadetblue;
    display: inline-block;
    width: 14%;
    height: 500px;
    vertical-align: top;

}
